<%- include('header') %>


<div class="container mt-5">
    <div class="row justify-content-center">
        <h1><strong>Daily Japanese Vocabulary</strong></h1>
    </div>
    <div class="row mt-5 text-justify">
        <p>
            Daily Japanese Vocabulary is an application where you can store your own Japanese vocabulary daily. You can
            improve your Japanese skills by practicing it daily! Random word will help you to find a word and you have
            to guess the meaning, how to read it, and type of that word. You can also take quiz to prove your Japanese
            vocabulary. Enjoy!

        </p>
    </div>
</div>

<%- include('footer') %>