<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Japanese Vocabulary</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>

<body>

    <div class="wrapper">
        <div class="container-fluid content">
            <div class="row title-row text-center">
                <h1 class="title font-weight-bold">Daily Japanese Vocabulary</h1>
            </div>
            <div class="row menu-row d-flex">
                <div class="service col-md-3 d-flex flex-column justify-content-center align-items-center">
                    <a href="/vocabulary">
                        <div class="menu d-flex align-items-center justify-content-center">
                            Vocabulary
                        </div>
                    </a>
                    <p class="mt-5">Vocabulary List</p>
                </div>
                <div class="service col-md-3 d-flex flex-column justify-content-center align-items-center">
                    <a href="/random-word">
                        <div class="menu d-flex align-items-center justify-content-center">
                            Random
                        </div>
                    </a>
                    <p class="mt-5">Random Word</p>
                </div>
                <div class="service col-md-3 d-flex flex-column justify-content-center align-items-center">
                    <a href="/quiz">
                        <div class="menu d-flex align-items-center justify-content-center">
                            <!-- <i class="fas fa-question"></i> -->
                            Quiz
                        </div>
                    </a>
                    <p class="mt-5">Quiz</p>
                </div>
                <div class="service col-md-3 d-flex flex-column justify-content-center align-items-center">
                    <a href="/about">
                        <div class="menu d-flex align-items-center justify-content-center">
                            <!-- <i class="fas fa-info"></i> -->
                            About
                        </div>
                    </a>
                    <p class="mt-5">About</p>
                </div>
            </div>
        </div>
    </div>

    <%- include('footer') %>