<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Japanese Vocabulary</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <div class="wrapper">
        <div class="container-fluid content">
            <div class="row title-row text-center">
                <h1 class="title font-weight-bold">Daily Japanese Vocabulary</h1>
            </div>
            <div class="row menu-row d-flex">
                <div class="service col-md-3 d-flex flex-column justify-content-center align-items-center">
                    <a href="/vocabulary">
                        <div class="menu d-flex align-items-center justify-content-center">
                            <i class="fas fa-list"></i>
                        </div>
                    </a>
                    <p class="mt-5">Vocabulary List</p>
                </div>
                <div class="service col-md-3 d-flex flex-column justify-content-center align-items-center">
                    <a href="/random-word">
                        <div class="menu d-flex align-items-center justify-content-center">
                            <i class="fas fa-random"></i>
                        </div>
                    </a>
                    <p class="mt-5">Random Word</p>
                </div>
                <div class="service col-md-3 d-flex flex-column justify-content-center align-items-center">
                    <a href="/quiz">
                        <div class="menu d-flex align-items-center justify-content-center">
                            <i class="fas fa-question"></i>
                        </div>
                    </a>
                    <p class="mt-5">Quiz</p>
                </div>
                <div class="service col-md-3 d-flex flex-column justify-content-center align-items-center">
                    <a href="/about">
                        <div class="menu d-flex align-items-center justify-content-center">
                            <i class="fas fa-info"></i>
                        </div>
                    </a>
                    <p class="mt-5">About</p>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container-fluid text-center footer">
            <p>Made with ❤️ by Nando Putra Pratama</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>