<%- include('header') %>

<div class="container mt-5">
    <h1>Add new word</h1>

    <form action="/create" method="POST">
        <div class="form-group">
            <label for="japanWord">Hiragana / Katakana</label>
            <input type="text" class="form-control" id="japanWord" name="japanWord"
                placeholder="Input hiragana / katakana...">
            <label for="word">Romaji</label>
            <input type="text" class="form-control" id="word" name="word" placeholder="Input romaji...">
            <label for="meaning">Meaning</label>
            <input type="text" class="form-control" id="meaning" name="meaning" placeholder="Input meaning...">
            <div class="form-group">
                <label for="category">Category</label>
                <select class="form-control" id="category" name="category">
                    <option value="noun">Noun</option>
                    <option value="adjective">Adjective</option>
                    <option value="verb">Verb</option>
                </select>
            </div>

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<%- include('footer') %>