*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Raleway', sans-serif !important;
    /* border: 1px solid red; */
}

a:link {
    text-decoration: none !important;
}

.content{
    min-height: 100vh;
}

.footer{
    padding: 10px !important;
    background-color: #311D3F;
    color: white;
}

.wrapper{
    background-color: #311D3F;
    color: white;
    min-height: 100vh;
}

.menu{
    background-color: rgba(226, 62, 87, 0.8);
    border-radius: 50%;
}

.menu:hover{
    background-color: rgb(226, 62, 87);
}

.menu-row{
    margin-top: 100px;
    text-decoration: none;
}

.service{
    margin-bottom: 50px !important;
}

.fas{
    color: white;
    font-size: 52px;
}

.title{
    margin-top: 125px;
}

.title-row{
    justify-content: center;
}

.menu{
    height: 200px;
    width: 200px;
}

/* begin navbar */
.navbar{
    background-color: #311D3F !important;
}

.navbar a{
    color: white !important;
}
/* end navbar */

.btn a{
    color: black;
}

.btn a:hover{
    color: white;
}

.table-striped>tbody>tr:nth-child(2n+1)>td,
.table-striped>tbody>tr:nth-child(2n+1)>th {
    background-color: rgba(49, 29, 63, 0.1);
}


/* random word */
.box{
    background-color: #ededed;
    /* border: 5px solid #E23E57; */
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.box-title{
    background-color: none;
}

.box-answer {
    background-color: #E23E57;
    border-radius: 5px;
    min-width: 200px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
    transition: .5s;
    color: white;
    transform: scale(0.1, 0.1);
}

.show{
    opacity: 1;
    transform: scale(1, 1);
}
/* random word */
